$primary: #9dc1dc; 
$secondary: #595a5b; 

@import "../node_modules/bootstrap/scss/bootstrap";

body {
  background-color: $primary;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
}

.btn-secondary {
  background-color: $secondary;
  border-color: $secondary;
}